.button {
    background-color: white;
}

.light {
    background-color: white;
    color: black;
}

.light header {
    background-color: white;
    color: black;
}

.light main {
    background-color: white;
    color: black;
}

.light form p {
    background-color: white;
    color: black;
}

.dark {
    background-color: black;
    color: white;
}

.dark header {
    background-color: black;
    color: white;
}

.dark main {
    background-color: black;
    color: white;
}

.dark form p {
    background-color: black;
    color: white;
}

.clicker {
    background-color: white;
    color: black;
}

.clicker::before {
    background-color: black;
    color: white;
}